body, html, .gameField {
  width: 100vw;
  height: 100vh;
  margin: 0pt;
  padding: 0pt;
}

.gameField {
  background-color: grey;
}

.street, .tower {
  background-color: blue;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  display: flex;
}
.tower {
  background-color: orange;
}
.street.isTarget {
  background-color: green;
}
.street.isStart {
  background-color: red;
}