body, html, .gameField {
  width: 100vw;
  height: 100vh;
  margin: 0pt;
  padding: 0pt;
}

.gameField {
  background-color: grey;
}

.street, .tower, .ant, .towerRangeIndicator {
  background-color: blue;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  display: flex;
}
.tower {
  background-color: orange;
}
.towerRangeIndicator {
  background-color: red;
  opacity: 0.1;
}
.ant {
  background-color: black; 
}
.street.isTarget {
  background-color: green;
}
.street.isStart {
  background-color: red;
}

.gameFieldController {
  width: 200pt;
  height: 300pt;
  position: absolute;
  top: 20pt;
  right: 0pt;
  background-color: white;
}

.inputLabelCombo {
  display: flex;
  flex-direction: row;
  align-items: center
}

.inputLabelCombo span, .inputLabelCombo input {
  display: flex;
  width: 100%;
}

.inputLabelCombo input {
  text-align: center;
}